    /*
    Flaticon icon font: Flaticon
    Creation date: 18/09/2020 19:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-unlock:before { content: "\f100"; }
.flaticon-new-doc:before { content: "\f101"; }
.flaticon-line:before { content: "\f102"; }
.flaticon-send-backward:before { content: "\f103"; }
.flaticon-save:before { content: "\f104"; }
.flaticon-barcode:before { content: "\f105"; }
.flaticon-rectangle:before { content: "\f106"; }
.flaticon-picture:before { content: "\f107"; }
.flaticon-zoom-in:before { content: "\f108"; }
.flaticon-bring-forward:before { content: "\f109"; }
.flaticon-zoom-out:before { content: "\f10a"; }
.flaticon-rfid:before { content: "\f10b"; }
.flaticon-open:before { content: "\f10c"; }
.flaticon-ellipse:before { content: "\f10d"; }
.flaticon-print:before { content: "\f10e"; }
.flaticon-100-percent-zoom:before { content: "\f10f"; }
.flaticon-grid:before { content: "\f110"; }
.flaticon-lock:before { content: "\f111"; }
.flaticon-bring-to-front:before { content: "\f112"; }
.flaticon-send-to-back:before { content: "\f113"; }
.flaticon-copy:before { content: "\f114"; }
.flaticon-cut:before { content: "\f115"; }
.flaticon-paste:before { content: "\f116"; }
.flaticon-settings:before { content: "\f117"; }
.flaticon-mask:before { content: "\f118"; }
.flaticon-undo:before { content: "\f119"; }
.flaticon-redo:before { content: "\f11a"; }
.flaticon-text-outline:before { content: "\f11b"; }
.flaticon-text-arc:before { content: "\f11c"; }
.flaticon-text:before { content: "\f11d"; }
.flaticon-qr:before { content: "\f11e"; }
.flaticon-umbrella:before { content: "\f11f"; }
.flaticon-text-resident:before { content: "\f120"; }
.flaticon-delete:before { content: "\f121"; }
    
    $font-Flaticon-unlock: "\f100";
    $font-Flaticon-new-doc: "\f101";
    $font-Flaticon-line: "\f102";
    $font-Flaticon-send-backward: "\f103";
    $font-Flaticon-save: "\f104";
    $font-Flaticon-barcode: "\f105";
    $font-Flaticon-rectangle: "\f106";
    $font-Flaticon-picture: "\f107";
    $font-Flaticon-zoom-in: "\f108";
    $font-Flaticon-bring-forward: "\f109";
    $font-Flaticon-zoom-out: "\f10a";
    $font-Flaticon-rfid: "\f10b";
    $font-Flaticon-open: "\f10c";
    $font-Flaticon-ellipse: "\f10d";
    $font-Flaticon-print: "\f10e";
    $font-Flaticon-100-percent-zoom: "\f10f";
    $font-Flaticon-grid: "\f110";
    $font-Flaticon-lock: "\f111";
    $font-Flaticon-bring-to-front: "\f112";
    $font-Flaticon-send-to-back: "\f113";
    $font-Flaticon-copy: "\f114";
    $font-Flaticon-cut: "\f115";
    $font-Flaticon-paste: "\f116";
    $font-Flaticon-settings: "\f117";
    $font-Flaticon-mask: "\f118";
    $font-Flaticon-undo: "\f119";
    $font-Flaticon-redo: "\f11a";
    $font-Flaticon-text-outline: "\f11b";
    $font-Flaticon-text-arc: "\f11c";
    $font-Flaticon-text: "\f11d";
    $font-Flaticon-qr: "\f11e";
    $font-Flaticon-umbrella: "\f11f";
    $font-Flaticon-text-resident: "\f120";
    $font-Flaticon-delete: "\f121";