<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="net48" />
  <package id="jQuery" version="1.9.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Neodynamic.SDK.ThermalLabel" version="13.0.0" targetFramework="net48" />
  <package id="Neodynamic.SDK.ThermalLabel.WebPrinting" version="13.0.0" targetFramework="net48" />
  <package id="Neodynamic.Web.ThermalLabelEditor.Assets" version="13.0.1" targetFramework="net48" />
  <package id="Neodynamic.Web.ThermalLabelEditor.Server" version="13.0.0" targetFramework="net48" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net48" />
</packages>