@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1>ThermalLabel SDK Client Print Sample</h1><br />
        <input type="button" value="Print Basic Thermal Label..." onclick="javascript:printThermalLabel()" />
        <br />
        <br />
        <h3>
            <cite>Remember that the client must <a href="https://www.neodynamic.com/downloads/tlclientprint" target="_blank">install the TLClientPrint Utility first!</a></cite>
        </h3>
    </div>


@section Scripts {

    <script>
        /*
        * ThermalLabel Client Print Utility
        * part of ThermalLabel SDK
        * https://www.neodynamic.com/
        * Copyright (c) 2020 - Neodynamic SRL
        */

        $(document).ready(function () {

            if (window.chrome) {
                $('body').append('<a id="tlprint"></a>');
            } else {
                $('<iframe />', {
                    name: 'tlprint',
                    id: 'tlprint',
                    width: '1',
                    height: '1',
                    style: 'visibility:hidden;position:absolute'
                }).appendTo('body');
            }

        })

        function printThermalLabel() {
            var webPrintJobUrl = $(location).attr('protocol') + "//" + $(location).attr('host') + "/GetWebPrintJob";
            console.log(webPrintJobUrl);
            if (window.chrome) {
                $('#tlprint').attr('href', 'tlprint:' + webPrintJobUrl);
                var a = $('a#tlprint')[0];
                var evObj = document.createEvent('MouseEvents');
                evObj.initEvent('click', true, true);
                a.dispatchEvent(evObj);
            } else {
                $("#tlprint").attr("src", "tlprint:" + webPrintJobUrl);
            }
        }
    </script>
}